a.pro:hover, a.pro:focus {
    text-decoration: none;
  }
  .bg-body {
    background-color: #222;
  }
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  .mini {
    width: 100%;
    margin: auto;
    max-width: 576px;
    padding: 1rem 1rem 1rem 1rem;
  }
  .text-sm {
    font-size: 0.80rem;
  }
  .text-reg {
    font-size: 1.0rem;
  }
  .text-lg {
    font-size: 1.25rem;
  }
  .text-xl {
    font-size: 1.5rem;
  }
  .text-2xl {
    font-size: 2rem;
  }
  .rounded-circle {
    border-radius: 50% 50% 50% 50%;
  }
  .rounded-xl {
    border-radius: 0.5rem;
  }
  .rounded-up {
    border-radius: 1.5rem;
  }
  .border-med {
    border-width: 0.15rem;
    border-radius: 0.5rem;
  }
  .opac-50 {
    opacity: 70%;
  }
  .opac-70 {
    opacity: 70%;
  }
  .title {
    font-size: 4rem;
  }